* {
  box-sizing: border-box;
}

#root {
  height: '100%';
}

.resolve-circle-button {
  display: block;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid black;
}

@media only screen and (max-width: 900px) {
  .modal-area {
    min-height: 100%;
    min-width: 100%;
  }
}

#select div {
  border: 0px;
}

.invisible-button-outline,
.invisible-button-outline input[type='submit'],
.invisible-button-outline input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
